@font-face {
    font-family: 'monomusicregular';
    src: url('MonoMusic-Regular.woff2') format('woff2'),
         url('MonoMusic-Regular.woff') format('woff'),
         url('MonoMusic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'm_1cheavy';
    src: url('mplus-1c-heavy.woff2') format('woff2'),
         url('mplus-1c-heavy.woff') format('woff'),
         url('mplus-1c-heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, textarea {
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig";
  -ms-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";
  font-size: 14px;
}
#background {
  border-radius: 20px;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  pointer-events: none;
  box-shadow: 0 0 0 40px black;
  display: none;
}
body * {
  box-sizing: border-box;
  border-radius: 11px;
}
.white {
  white-space: pre-wrap;
  margin-bottom: 4em;
  margin-top: 2em;
}
body, .button, .tagline {
  font-family: 'monomusicregular';
  font-weight: 400;
  border-radius: 11px;
}
.row {
  max-width: 900px;
}
h1, h2, h3, .title {
  font-family: 'm_1cheavy';
  font-weight: 800;
  letter-spacing: -0.02em;
}
h1 {
  font-size: 4.24em;
  margin-bottom: -.2em;
  margin-top: .2em;
}
.tagline {
  height: auto;
  margin-top: 0;
  margin-bottom: 0.3em;
}
.chordfixer {
  margin-top: 1em;
  margin-bottom: 0em;
}
h2, .title {
  font-size: 2.62em;
}
.title {
  height: 60px;
  height: 1.5em;
  border: 1px solid #bbb;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  padding: 20px;
  border-bottom: 0;
  display: none;
}
.title > span {
  max-width: 100%;
}
.withtitle .title {
  display: block;
}
body, input, h1 {
  color: hsl(195, 5%, 30%);
}
.button {
  font-size: 1.618em;
  padding: 0.57rem 0.7rem 0.43rem 0.7rem;
}
.button, textarea, #hyp {
  margin: 0 0 1rem 0;
}
.text {
  height: auto;
}
.text .column {
  padding-left: .5%;
  padding-right: .5%;
}
.first.column {
  padding-right: 1%;
  padding-left: 0%;
}
.last.column {
  padding-left: 1%;
  padding-right: 0%;
}
.text, textarea {
  width: 100%;
  border: 1px solid #bbb;
  outline: none;
  padding: 20px;
  line-height: 1.18em;
}
textarea {
  background-color: white;
  resize: none;
  min-height: 100px;
  max-height: 60%;
  font-family: 'monomusicregular';
  border: 1px solid #bbb;
  margin-bottom: 0.5rem;
}
::-webkit-input-placeholder {
  color: hsl(195, 5%, 30%);
  line-height: 1.8em;
}
:-moz-placeholder { /* Firefox 18- */
  color: hsl(195, 5%, 30%);
  line-height: 1.2em;
  opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: hsl(195, 5%, 30%);
  line-height: 1.2em;
  opacity: 1;
}
:-ms-input-placeholder {
  color: hsl(195, 5%, 30%);
  line-height: 1.2em;
}
textarea:focus::-webkit-input-placeholder
{
  color: transparent;
}
textarea:focus::-moz-placeholder{
  color: transparent;
}
textarea:focus:-moz-placeholder{
  color: transparent;
}
.withtitle #hyp {
  border-top: 1px solid white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#hyp[placeholder]:empty:before, .title[placeholder]:empty:before {
  content:attr(placeholder);
}
.super {
  font-variant-position: super;
  -moz-font-feature-settings: "sups";
  -ms-font-feature-settings: "sups";
  -webkit-font-feature-settings: "sups";
  font-feature-settings: "sups";
}
.highlight {
  page-break-after: avoid;
  display: inline-block;
  padding-top: 3px;
  transform: translateY(2px);
}
.highlight, a {
  color: hsl(195, 100%, 40%);
  text-decoration: none;
}
.right {
  text-align: right;
}
.magic #title, .magic #nomagic {
  display: inline-block;
}
p {
  margin-bottom: 4em;
}
#hyp {
  white-space: pre-wrap;
}
#hide, #fsbuttons .button {
  line-height: 0.55em;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#fsbuttons {
  text-align: right;
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 0.15em;
  visibility: hidden;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}
#fsbuttons .button {
  display: block;
  color: hsl(195, 100%, 40%);
  background-color: rgba(255, 255, 255, 0);
}
.wow #fsbuttons {
  visibility: visible;
}
.simplecolorpicker.picker {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1051; /* Above Bootstrap modal (@zindex-modal = 1050) */
  display: none;
  float: left;

  width: 115px;

  padding: 5px 0 0 5px;
  margin: 2px 0 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 16px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, .1);
  background-clip: padding-box;
}

.simplecolorpicker.inline {
  display: inline-block;
  padding: 6px 0;
}

.simplecolorpicker span {
  margin: 0 5px 5px 0;
}

.simplecolorpicker.icon,
.simplecolorpicker span.color {
  display: inline-block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  outline: none;
}

.simplecolorpicker.icon:after,
.simplecolorpicker span.color:after {
  content: '\00a0\00a0\00a0\00a0'; /* Spaces */
}

.simplecolorpicker span.color[data-disabled]:hover {
  cursor: not-allowed;
  border: 1px solid transparent;
}

.simplecolorpicker span.color:hover,
.simplecolorpicker span.color[data-selected],
.simplecolorpicker span.color[data-selected]:hover {
  border: 1px solid #222; /* @gray-dark */
}
.simplecolorpicker span.color[data-selected]:after {
  color: #fff;
}

/* Vertical separator, replaces optgroup. */
.simplecolorpicker span.vr {
  border-left: 1px solid #222; /* @gray-dark */
}

span.color {
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  border: 1px solid black;
  transition: 0.1s ease;
}
span.color:hover {
  transform: scale(1.05)
}
.simplecolorpicker.icon {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);
}
#liga {
  display: inline-block;
  transition: transform 0.5s ease;
}
.wow .noprint { display: none; }
.wow #hyp, .wow.withtitle .title { width: 100%; border: 0; display: block; margin: 0; padding: 12px 0; }
.wow .highlight, .wow .superscript, .wow .temp {display: inline-block;}
.row {max-width: 100%; }
.wow #background { display: block; }

#demo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#demo h1 {
  font-family: 'monomusicregular';
  font-weight: 400;
  margin: 0;
}

@media print {
  @page {
    margin: 30mm 20mm 30mm 20mm;
  }
  * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
  body {
    margin: 0px;
  }
  .noprint {
    display: none;
  }
  #hyp, .withtitle .title { width: 100%; border: 0; display: block; margin: 0; }
}
